/build
/prisma/generated
/node_modules

# yarn 2
/.yarn/unplugged
/.yarn/build-state.yml
/.yarn/install-state.gz
/.yarn/cache
/.yarn/sdks
.pnp.js


# postgres local fixtures
/postgres

/.vscode
/.idea
